
<!-- <app-calender></app-calender> -->


<!-- <div class="container">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>
                <a routerLinkActive="active" routerLink="list">List</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="create">Create</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div> -->

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.hcltech.com/">HCL Technologies</a>
      </div>
      <ul class="nav navbar-nav active">
        <li ><a routerLinkActive="active" routerLink="list">Employee List</a></li>
       
        
        <li><a routerLinkActive="active" routerLink="leave">Apply Leave</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  

  <!-- <app-my-date-picker></app-my-date-picker> -->

  <!-- <h1>
    Localization Demo in Angular using i18n
  </h1>
  
  <h3 i18n="@@myName">
    Hello, My name is Ankit
  </h3>
  <p>This text will remain same in all languages</p>
  <hr /> -->

  <!-- <app-datepickerjquery></app-datepickerjquery> -->
  <!-- <app-singledate-leave></app-singledate-leave> -->